.container {
    padding: $grid-gutter;
    .desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.main__fonctionnement {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include info;
    margin-bottom: 20px;
    justify-content: space-around;
}

.main__restaurants {
    @include resto;
    position: relative;
    text-decoration: none;
    color: $colour-black;
    margin-top: 30px;
}

@media (min-width: 800px) {
    .main__restaurants {
        width: 24%;
        margin-left: 10px;
    }
  }

  @media (max-width: 800px) {
    .desktop {
        flex-direction: column;
    }
  }