.menu__form {
    margin-top: 20px;

    &__title {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    &__title--barre {
        width: 100%;
        max-width: 100px;
        height: 2.5px;
        display: block;
        margin-top: 5px;
        background-color: #99E2D0;
        transform-origin: 0% 50%;
        ;
        transform: scaleX(0.5);
    }

    &__entree {
        height: 250px;
        min-height: 250px;
        margin: 0 0 0 0;
        padding: 5px 0 0 0;
        border: transparent;

        &--selected {
            margin-bottom: 20px;
        }
    }
}

.plate {
    width: 92vw;
    display: flex;
    border-radius: 15px;
    @include box-shadow($colour-black-shadow);
    background-color: #FFF;
    overflow: hidden;

    &--1 {
        opacity: 0;
        transform: translateX(500px);
        animation: oppacity-left 0.6s linear 0.3s forwards;
    }

    &--2 {
        opacity: 0;
        transform: translateX(500px);
        animation: oppacity-left 0.6s linear 0.6s forwards;
    }

    &--3 {
        opacity: 0;
        transform: translateX(500px);
        animation: oppacity-left 0.6s linear 0.9s forwards;
    }

    &__texte {
        min-width: 60%;
        display: flex;
        flex-flow: row wrap;
        padding: 15px;
        flex: 1;

        &__title:first-of-type {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 5px;
        }

        &__title {
            width: 100%;
            display: block;
            font-size: 14px;
            font-weight: 300;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__prix {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        display: flex;
        align-items: flex-end;
        padding: 15px;
    }

    &--checked {
        max-width: 0px;
        display: flex;
        color: $colour-white;
        transition: all 0.4s linear;
    }
}

.selected {

    display: none;

    &:checked+.plate .plate--checked {
        min-width: 60px;
        background-color: $colour-quaternaire;
        justify-content: center;
        align-items: center;
        transition: all 0.2s linear;
    }

    &:not(:checked)+.plate .plate--checked {
        transition: all 0.2s linear;
        min-width: 0px;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 750px) {
    .plate {
        width: auto;
    }
}