.header {
    background: $colour-white;
    display: flex;
    width: 100%;
    flex-direction: column;
    &__logo {
        height: 6.5rem;
        display: flex;
        justify-content: center;
        @include box-shadow($colour-black-shadow);
        z-index: 99;
        img {
            width: 150px;
        }
    }
    &__localisation {
        background-color: $colour-accent;
        width: 100%;
        font-weight: 900;
        font-size: 1.7rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding: $magin-base 20px;
        background-color: $colour-tertiary;
        h1 {
            font-family: $roboto-font !important;
            padding: 0px $magin-base 10px $magin-base ;
        }
    }
}