.header {
    background: $colour-white;
    width: 100%;
    &__topimg {
        img {
            width: 101%;
            min-height: 300px;
            position: fixed;
            z-index: -99;
            object-fit: cover;
        }
    }
    &__arrow {
        position: absolute;
        left: 20px;
        font-size: 25px;
        text-decoration: none;
        top: 18px;
    }
    &__logo {
        height: 6.5rem;
        display: flex;
        justify-content: center;
        @include box-shadow($colour-black-shadow);
        z-index: 99;
        img {
            width: 150px;
        }
    }
    &__localisation {
        background-color: $colour-accent;
        width: 100%;
        font-weight: 900;
        font-size: 1.7rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            margin-right: 15px;
        }
    }
    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding: $magin-base 20px;
        background-color: $colour-tertiary;
        h1 {
            font-family: $roboto-font !important;
            padding: 0px $magin-base 10px $magin-base ;
        }
    }
}