@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #111;
  font-size: 2rem;
  font-weight: 100;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 1000;
  font-size: 2.4rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.btn {
  padding: 1.5rem;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  color: #fff;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  margin-top: 3rem;
}
.btn--medium-width {
  width: 65%;
}

.like {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-right: 15px;
}
.like .heart__filtre--notempty {
  display: none;
  position: absolute;
}
.like .heart__filtre--notempty i {
  color: transparent;
  background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
  -webkit-background-clip: text;
}
.like__resto {
  display: none;
}
.like__resto:checked + .heart .heart__filtre--notempty {
  display: block;
}

.header {
  background: #fff;
  width: 100%;
}
.header__topimg {
  background-image: url("/public/img/restorants/istock-1081422898.jpg");
  width: 101%;
  height: auto;
  min-height: 300px;
  object-fit: cover;
  position: fixed;
  z-index: -99;
}
.header__arrow {
  position: absolute;
  left: 20px;
  font-size: 25px;
  text-decoration: none;
  top: 18px;
}
.header__logo {
  height: 6.5rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 8px 0px rgba(17, 17, 17, 0.2);
  z-index: 99;
}
.header__logo img {
  width: 150px;
}
.header__localisation {
  background-color: rgba(214, 214, 214, 0.6235294118);
  width: 100%;
  font-weight: 900;
  font-size: 1.7rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__localisation i {
  margin-right: 15px;
}
.header__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 40px 20px;
  background-color: rgba(240, 240, 240, 0.6745098039);
}
.header__title h1 {
  font-family: "Roboto", sans-serif !important;
  padding: 0px 40px 10px 40px;
}

.nav {
  padding-right: 6rem;
  flex: 2 1 auto;
  text-align: right;
}
.nav__link {
  display: inline;
  font-size: 3rem;
  padding-left: 1.5rem;
}
.nav__link a {
  text-decoration: none;
  color: rgba(214, 214, 214, 0.6235294118);
}
.nav__link--active {
  color: #FF79DA;
}
.nav__link--active:hover {
  cursor: default;
  color: #FF79DA;
}
.nav__link a:hover {
  color: #fff;
}

.container {
  padding: 1.5rem;
}

.main__fonctionnement {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.main__fonctionnement__etapes {
  padding: 15px;
  font-weight: bold;
  background-color: #fff;
  margin-top: 30px;
  box-shadow: 0 3px 8px 0px rgba(17, 17, 17, 0.2);
  border-radius: 15px;
  width: 300px;
}
.main__fonctionnement__etapes i {
  margin-right: 20px;
  color: gray;
}
.main__fonctionnement__etape {
  background-color: #9356DC;
  position: absolute;
  left: 20px;
  border-radius: 50px;
  padding: 0px 6px;
  color: #fff;
}

.main__restaurants {
  position: relative;
  text-decoration: none;
  color: #111;
}
.main__restaurants__resto {
  box-shadow: 0 3px 8px 0px rgba(17, 17, 17, 0.2);
  margin-top: 30px;
  border-radius: 10px;
}
.main__restaurants__resto img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 170px;
  object-fit: cover;
  object-position: 100% 60%;
  padding-bottom: 5px;
}
.main__restaurants__resto__info {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.main__restaurants__resto__info__hearth {
  align-self: center;
  font-size: 25px;
  border: transparent;
  background-color: transparent;
}
.main__restaurants__resto__info__hearth:focus .main__restaurants__resto__info__hearth__span:before {
  background: linear-gradient(90deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 140%);
  border: transparent;
}
.main__restaurants__resto__info__hearth:focus .main__restaurants__resto__info__hearth__span:after {
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%) !important;
  border: transparent;
}
.main__restaurants__resto__info__hearth__span:before, .main__restaurants__resto__info__hearth__span:after {
  position: absolute;
  content: "";
  left: 290px;
  top: 190px;
  width: 15px;
  height: 25px;
  border: 2px solid black;
  border-right: transparent;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.main__restaurants__resto__info__hearth__span::before {
  border-right: transparent;
}
.main__restaurants__resto__info__hearth__span:after {
  left: 274.5px;
  border-right: 2px solid black;
  border-left: transparent;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
.main__restaurants__label {
  background-color: #9AE3D1;
  color: #139475;
  font-weight: 400;
  font-size: 16px;
  position: absolute;
  left: 250px;
  top: 10px;
  border-radius: 3px;
  padding: 4px 10px;
}

.menu__form {
  margin-top: 20px;
}
.menu__form__title {
  margin-top: 40px;
  margin-bottom: 20px;
}
.menu__form__title--barre {
  width: 100%;
  max-width: 100px;
  height: 2.5px;
  display: block;
  margin-top: 5px;
  background-color: #99E2D0;
  transform-origin: 0% 50%;
  transform: scaleX(0.5);
}
.menu__form__entree {
  height: 250px;
  min-height: 250px;
  margin: 0 0 0 0;
  padding: 5px 0 0 0;
  border: transparent;
}
.menu__form__entree--selected {
  margin-bottom: 20px;
}

.plate {
  display: flex;
  border-radius: 15px;
  box-shadow: 0 3px 8px 0px rgba(17, 17, 17, 0.2);
  background-color: #FFF;
  overflow: hidden;
}
.plate__texte {
  min-width: 60%;
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  flex: 1;
}
.plate__texte__title:first-of-type {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}
.plate__texte__title {
  width: 100%;
  display: block;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.plate__prix {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: flex-end;
  padding: 15px;
}
.plate--checked {
  max-width: 0px;
  display: flex;
  color: #fff;
}

.selected {
  display: none;
}
.selected:checked + .plate .plate--checked {
  min-width: 60px;
  background-color: #99E2D0;
  justify-content: center;
  align-items: center;
}
.selected:not(:checked) + .plate .plate--checked {
  min-width: 0px;
  justify-content: flex-start;
}

.footer {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.footer img {
  width: 120px;
  margin-bottom: 10px;
}
.footer a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 5px 0px 5px 0px;
  font-weight: 400;
}
.footer i {
  color: white;
  margin-right: 5px;
}

.menu {
  background-color: #fff;
  z-index: 99;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  margin-top: 170px;
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.menu__commander {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(3, auto);
  padding: 1.5rem;
  grid-template-areas: "imagery heading" "imagery copy" "imagery btn";
  margin-bottom: 1.5rem;
}
.about__heading {
  grid-area: heading;
  color: #fff;
  box-shadow: 0 3px 8px 0px #9356DC;
  text-align: right;
  padding-right: 1.5rem;
}
.about__imagery {
  grid-area: imagery;
}
.about__pic {
  overflow: hidden;
  width: 80%;
  border-radius: 1000rem;
  border: 1.5rem solid #9356DC;
}
.about__pic img {
  display: block;
  width: 100%;
}
.about__copy {
  grid-area: copy;
}
.about__copy p {
  line-height: 2.4rem;
  margin-bottom: 3.375rem;
}
.about__btn {
  padding: 1.5rem;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  color: #fff;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  margin-top: 3rem;
  grid-area: btn;
}
.about__btn--medium-width {
  width: 65%;
}
.about__btn a {
  text-decoration: none;
}

.project {
  width: 100%;
  margin-bottom: 1.8rem;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1.5rem;
  grid-template-areas: "image synopsis" "tags synopsis" "btn btn";
}
.project__image {
  grid-area: image;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.project__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.project__synopsis {
  grid-area: synopsis;
  padding-left: 1.5rem;
}
.project__synopsis h1 {
  color: #fff;
  box-shadow: 0 3px 8px 0px #9356DC;
}
.project__synopsis p {
  line-height: 2.5rem;
}
.project__tags {
  grid-area: tags;
}
.project__tags p {
  color: #fff;
}
.project__tags p strong {
  color: #9356DC;
  font-weight: 900;
  font-style: italic;
}
.project__btn {
  padding: 1.5rem;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  color: #fff;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  margin-top: 3rem;
  grid-area: btn;
}
.project__btn--medium-width {
  width: 65%;
}

/*# sourceMappingURL=style.css.map */
