@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #111;
  font-size: 2rem;
  font-weight: 100;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 1000;
  font-size: 2.4rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.btn {
  padding: 1.5rem;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  color: #fff;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  margin-top: 3rem;
}
.btn--medium-width {
  width: 65%;
}

.main__fonctionnement {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.main__fonctionnement__etapes {
  padding: 15px;
  font-weight: bold;
  background-color: #fff;
  margin-top: 30px;
  box-shadow: 0 3px 8px 0px rgba(17, 17, 17, 0.2);
  border-radius: 15px;
  width: 300px;
}
.main__fonctionnement__etapes i {
  margin-right: 20px;
  color: gray;
}
.main__fonctionnement__etape {
  background-color: #9356DC;
  position: absolute;
  left: 20px;
  border-radius: 50px;
  padding: 0px 6px;
  color: #fff;
}

.main__restaurants__resto {
  display: flex;
  justify-content: space-between;
}
.main__restaurants__resto i {
  font-size: 30px;
  align-self: center;
}
.main__restaurants__etape {
  background-color: #9356DC;
  position: absolute;
  left: 20px;
  border-radius: 50px;
  padding: 0px 6px;
  color: #fff;
}

.header {
  background: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.header__logo {
  height: 6.5rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 8px 0px rgba(17, 17, 17, 0.2);
  z-index: 99;
}
.header__logo img {
  width: 150px;
}
.header__localisation {
  background-color: rgba(214, 214, 214, 0.6235294118);
  width: 100%;
  font-weight: 900;
  font-size: 1.7rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 40px 20px;
  background-color: rgba(240, 240, 240, 0.6745098039);
}
.header__title h1 {
  font-family: "Roboto", sans-serif !important;
  padding: 0px 40px 10px 40px;
}

.nav {
  padding-right: 6rem;
  flex: 2 1 auto;
  text-align: right;
}
.nav__link {
  display: inline;
  font-size: 3rem;
  padding-left: 1.5rem;
}
.nav__link a {
  text-decoration: none;
  color: rgba(214, 214, 214, 0.6235294118);
}
.nav__link--active {
  color: #FF79DA;
}
.nav__link--active:hover {
  cursor: default;
  color: #FF79DA;
}
.nav__link a:hover {
  color: #fff;
}

.container {
  padding: 1.5rem;
}

.form {
  width: 100%;
  padding-bottom: 1.5rem;
}
.form__heading {
  width: 100%;
  color: #fff;
  box-shadow: 0 3px 8px 0px #9356DC;
  background: #9356DC;
  line-height: 5rem;
  padding: 1.5rem;
}
.form__field label {
  color: rgba(214, 214, 214, 0.6235294118);
  display: block;
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 1.5rem;
}
.form__field input {
  width: 100%;
  background: #FF79DA;
  border: 0.1rem solid #9356DC;
  padding: 1.5rem;
  color: rgba(214, 214, 214, 0.6235294118);
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
  border: 0.1rem solid #9356DC;
  background-color: #FF79DA;
  color: #9356DC;
}
.form__field textarea {
  width: 100%;
  color: #9356DC;
  background: #FF79DA;
  border: 0.1rem solid #9356DC;
  outline: none;
  padding: 1.5rem;
  margin-bottom: 0.75rem;
}

.quote {
  text-align: right;
  font-size: 6rem;
  font-weight: 900;
  font-style: italic;
  color: rgba(214, 214, 214, 0.6235294118);
  margin: 2rem 6rem -3rem 6rem;
}
.quote strong {
  color: #9356DC;
}

.proj-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.5rem;
}

.proj-prev {
  color: #fff;
  margin-bottom: 1.5rem;
}
.proj-prev__image {
  margin: 0;
  opacity: 0.2;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.proj-prev__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.proj-prev__heading {
  font-size: 4rem;
  padding-left: 2.5rem;
  margin: 0;
  line-height: 6rem;
}
.proj-prev__byline {
  padding-left: 2.5rem;
  font-size: 1.66rem;
}
.proj-prev:hover {
  cursor: pointer;
}
.proj-prev:hover > .proj-prev__heading {
  background: #9356DC;
}
.proj-prev:hover > .proj-prev__image {
  opacity: 1;
}

.about {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: repeat(3, auto);
  padding: 1.5rem;
  grid-template-areas: "imagery heading" "imagery copy" "imagery btn";
  margin-bottom: 1.5rem;
}
.about__heading {
  grid-area: heading;
  color: #fff;
  box-shadow: 0 3px 8px 0px #9356DC;
  text-align: right;
  padding-right: 1.5rem;
}
.about__imagery {
  grid-area: imagery;
}
.about__pic {
  overflow: hidden;
  width: 80%;
  border-radius: 1000rem;
  border: 1.5rem solid #9356DC;
}
.about__pic img {
  display: block;
  width: 100%;
}
.about__copy {
  grid-area: copy;
}
.about__copy p {
  line-height: 2.4rem;
  margin-bottom: 3.375rem;
}
.about__btn {
  padding: 1.5rem;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  color: #fff;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  margin-top: 3rem;
  grid-area: btn;
}
.about__btn--medium-width {
  width: 65%;
}
.about__btn a {
  text-decoration: none;
}

.project {
  width: 100%;
  margin-bottom: 1.8rem;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 1.5rem;
  grid-template-areas: "image synopsis" "tags synopsis" "btn btn";
}
.project__image {
  grid-area: image;
  width: 100%;
  display: block;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.project__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.project__synopsis {
  grid-area: synopsis;
  padding-left: 1.5rem;
}
.project__synopsis h1 {
  color: #fff;
  box-shadow: 0 3px 8px 0px #9356DC;
}
.project__synopsis p {
  line-height: 2.5rem;
}
.project__tags {
  grid-area: tags;
}
.project__tags p {
  color: #fff;
}
.project__tags p strong {
  color: #9356DC;
  font-weight: 900;
  font-style: italic;
}
.project__btn {
  padding: 1.5rem;
  background: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  color: #fff;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  margin-top: 3rem;
  grid-area: btn;
}
.project__btn--medium-width {
  width: 65%;
}

/*# sourceMappingURL=style.css.map */
